.top{
    background-color: white;
    width: 100%;
}

.navBar{
    display: flex;
    background-color: black;
    height: 30px;
}


 .button{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 2px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.navBar a:hover{
    color:orangered;
}

.icons{
    flex: 1;
    pointer-events: none;
}

.github{
    height: 25px;
    margin-top: 2px;
    border: white solid;
    border-radius: 180px;
    background-color: white;
    margin-left: 30px;
    pointer-events: all;
}

.github:hover{
    background-color: aqua;
    border-color: aqua;
    transition: 1s ease;
}

.linkedin{
    height: 25px;
    margin-top: 2px;
    border: white solid;
    border-radius: 180px;
    background-color: white;
    pointer-events: all;
    margin-left: 10px;
    align-self: auto;
}

.linkedin:hover{
    background-color: aqua;
    border-color: aqua;
    transition: 1s ease;
}

.navMenu{
    padding: 5px;
    margin-right: auto;
    cursor: pointer;
}

.navMenu > span{
    display: block;
    width: 28px;
    height: 1.6px;
    border-radius: 9999px;
    background-color: white;
    pointer-events: all;
}

.navMenu > span:not(:last-child) {
    margin-bottom: 7px;
}

.navMenu, .navMenu > span{
    transition:all 0.4s ease-in-out;
}

.navMenu.active{
    transition-delay: 0.8s;
    transform: rotate(45deg);
}

.navMenu.active > span:nth-child(2){
    width: 0;
}

.navMenu.active > span:nth-child(1),
.navMenu.active > span:nth-child(3){
    transition-delay: 0.4s;
}

.navMenu.active > span:nth-child(1){
    transform: translateY(9px);
}

.navMenu.active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
}

.title{
    color: black;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: black;
    font-family: 'Sassy Frass', cursive;
    font-size: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.constnt{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.variant{
    border: 0px solid #ddd;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
}

.variant span{
    position: relative;
    animation: 10s ease infinite;
}

@keyframes animation{
    0%, 100%{
        top: 0;
    }

    20%{
        top: 0;
    }

    25%{
        top: -80px;
    }

    45%{
        top: -80px;
    }

    50%{
        top: -160px;
    }

    70%{
        top: -160px;
    }

    75%{
        top: -240px;
    }

    95%{
        top: -240px;
    }
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    font-family: 'Sassy Frass', cursive;
    font-size: 6rem;
    color: black;
}


h3{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    margin-right: auto;
}

h4{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 10px;
}

p{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    padding: 10px;
}

.shadowBtn{
    width: 115px;
    height: 45px;
    margin-bottom: 5rem;
    border: 2px solid #01fe87;
    border-radius: 11px;
    background-color: transparent;
    color: #01fe87;
    cursor: pointer;
    position: relative;
}

.shadowBtn:hover{
    background-color: #01fe87;
    color: black;
    transition: 1s ease;
}

.before::before{
    pointer-events: none;
    content:" ";
    position: absolute;
    left: 0;
    top: 50px;
    background: #01fe87;
    height: 80%;
    width: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.33);
    filter: blur(12px);
    transition: 1s ease;
}

.card-container{
    display: flex;
    width: 100%;
    flex: 1;
    background-color: black;
}

.card{
    width: 100%;
    flex: 1;
}

.first{
    align-items: center;
    background-color: black;
}

.second{
    align-items: center;
    background-color: black;
}

.third{
    align-items: center;
    background-color: black;
}


.line{
    color: white;
    width: 100%;
}

footer{
    text-align:center;
    color: whitesmoke;
    bottom: 0;
    margin-top: 80px;
}